channel_name=mychannel
msp_id=Org1MSP
% user_cert_path=/home/lighthouse/fabric/fabric-samples/test-network/organizations/peerOrganizations/org1.example.com/users/User1@org1.example.com/msp/signcerts/User1@org1.example.com-cert.pem
% user_privatekey_path=/home/lighthouse/fabric/fabric-samples/test-network/organizations/peerOrganizations/org1.example.com/users/User1@org1.example.com/msp/keystore
% peer_tls_cert_path=/home/lighthouse/fabric/fabric-samples/test-network/organizations/peerOrganizations/org1.example.com/peers/peer0.org1.example.com/tls/ca.crt

user_cert_path=src/main/resources/fabric/keystore/User1@org1.example.com-cert.pem
user_privatekey_path=src/main/resources/fabric/signcerts
peer_tls_cert_path=src/main/resources/fabric/ca.crt
peer_endpoint_address=129.28.92.157:7051

#stub配置信息
deploy_port=4001

# mmserver服务器配置信息
# 服务器地址
mmserver=http://192.168.14.178:8181

# 加解密方式
encryptionType=
